body {
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
}

h6 {
    font-weight: normal;
    text-align: justify;
}

p,
h6,
h5 {
    color: #6a6a6a;
}

body {
    margin-top: 20px;
}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.flex-grow-0 {
    flex-grow: 0!important;
}

.border-top {
    border-top: 1px solid #dee2e6!important;
}

.person-select {
    display: none;
}

.person-select div {
    cursor: pointer;
}

.type-notice1,
.type-notice2 {
    display: none;
}

.name-notice {
    display: none;
}

.chat-box {
    max-height: 75%;
}